<header class="my-header cf">
  <div class="my-logo">
    <div class="my-icon foodicon foodicon--coconut"></div>
    <h2 class="my-heading"><a href="/">{{ site.title }}</a></h2>
  </div>
  <div class="my-header__main">
    <span class="my-header__present">没名字工作室<span class="my-tooltip my-icon my-icon--about" data-content="{{ site.title }}"></span></span>
    <h1 class="my-header__title"><a href="/">{{ site.title }}</a></h1>
    <nav class="my-nav">
      <a class="my-nav__item my-icon my-icon--prev" href="" data-info="上一篇"><span>上一篇</span></a>
      <a class="my-nav__item my-icon my-icon--next" href="" data-info="下一篇"><span>下一篇</span></a>
      <a class="my-nav__item my-icon my-icon--archive" href="/" data-info="浏览所有"><span>浏览所有</span></a>
    </nav>
  </div>
</header>
